* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: dotted 1px black; */
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 100%;
}

nav {
    width: 80%;
    padding: 5px;
    display: flex;
    margin: 0 auto
}

/* CONTAINER YELLOW */
.container-yellow {
    width: 100%;
    margin: 0 auto;

}

.logo {
    width:10%;
    background-size: cover;
}

.item {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.login {
    width: 20%;
}



/* CONTAINER BLUE */

.row {
    width: 100%;
    display: flex;
    justify-content: around;
}

.txtwhite {
    color: white;
    text-align: center;
    padding: 10px;
}

.buttons {
    text-align: center;
}

.button-white {
    background-color: white;
    border-radius: 20px;
    padding: 10px
}

.button-black {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px
}



.col {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 150px;
}

/* CONTENITORE BIANCO */
.container-white {
    background-color: white;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.img-item-1 {
    background-size: contain;
    width: 30%;
}

.col-item-1 {
    background-color: pink;
    width: 20%;

}

.padding-20px{
    padding: 20px;
}

/* CONTENITORE GRIGIO */

.container-grey {
    background-color: lightgrey;

}


/* CONTENITORE BIANCO 2 */





/* CONTENITORE GRIGIO QUADRATO VERDE */

.rowitem4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.col-verde {
    width: 60%;

    margin: 0 auto;
}

.img-item-4 {
    width: 70%;
    background-image: url(../img/item4-big.svg);
    background-size: cover;
}



/* FOOTER */

footer {
    background-color: rgba(10, 1, 1, 0.784);
}

/* CONTENITORE GRIGIO SCURO */

.container-blackgrey {
    background-color: rgba(180, 41, 41, 0);
}

.row4 {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.col4 {
    width: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
}




hr {
    color: white;
}


.end {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
}

.endlogo {
    width: 60px;
}

h6 {
    color: white;
    margin: 5px 0 5px 0;
}

h5 {
    color: slateblue;
}

.buttonend {
    border-radius: 20px;
    padding: 10px;
}

.txt-center {
    text-align: center;
}